/* You can add global styles to this file, and also import other style files */
@use '@progress/kendo-theme-default/scss/all';
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: block;
    min-height: 100vh;
}
